* {
  padding: 0px;
  margin: 0px;
}
.mail {
  display: flex;
  justify-content: space-between;
  width: 400px;
  background-color: lawngreen;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateX(-350px);
  transition: 0.45s;
}
.mail:hover {
  background-image: linear-gradient(to right, yellow, lawngreen);
  transform: translateX(0px);
}
.from {
  width: 45%;
}
i {
  margin: 15px;
}
.from input {
  outline: none;
  border: none;
}
.texts {
  display: flex;
  margin-top: 15px;
}
.hands {
  position: relative;
  margin-left: 10px;
}
